@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.button {
  background: var(--gradient-color);
  padding: 12px;
  color: white;
  border-radius: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-semi-bold);
  column-gap: 8px;
  transition: all 0.6s;
}
.button i {
  color: black;
  font-size: 1.5rem;
  background-color: var(--first-color);
  padding: 0 5px;
  border-radius: 50%;
}
.button:hover {
  box-shadow: 0 12px 32px hsla(23, 100%, 50%, 0.3);
}

.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  padding: 5px 20px;
  top: 0;
  left: 0;
  z-index: 99;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}
.header .nav__logo {
  color: var(--first-color);
  font-size: 30px;
  font-weight: var(--font-semi-bold);
}
.header .nav__menu {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .nav__list {
  display: flex;
  column-gap: 2.5rem;
  height: 50%;
  align-items: center;
}
.header .nav__list .nav__item {
  height: 80%;
  display: flex;
  align-items: center;
}
.header .nav__list .nav__item::after {
  content: "";
  width: 3px;
  top: 0;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color);
}
.header .nav__list .nav__item::before {
  content: "";
  width: 3px;
  top: 0;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color);
}
.header .nav__link {
  color: var(--white-color);
  white-space: nowrap;
  font-weight: var(--font-medium);
  transition: color 0.4s;
  padding: 0 10px;
}
.header .nav__link:hover {
  color: var(--first-color);
}

.home__container {
  display: flex;
  padding: 112px 16px;
  position: relative;
}
.home__content {
  position: relative;
  display: grid;
  justify-self: center;
}
.home__img {
  width: 220px;
}
.home__title {
  color: var(--first-color);
  position: absolute;
  top: -32px;
  display: flex;
  column-gap: 10px;
  justify-self: center;
}
.home__title span {
  font-size: var(--biggest-font-size);
}
.home__title span:nth-child(2) {
  z-index: -1;
}
.home__tooltip {
  position: absolute;
  top: -8px;
  right: 24px;
}
.home__tooltip-img {
  width: 60px;
}
.home__tooltip-text {
  position: absolute;
  background: var(--gradient-color);
  color: var(--white-color);
  padding: 6px 12px;
  border-radius: 64px;
  transform: translateX(0) translateY(-20px);
  white-space: nowrap;
}
.home__social {
  display: grid;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: -104px;
  row-gap: 96px;
}
.home__social-text {
  position: relative;
  rotate: 90deg;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
.home__social-text::after {
  content: "";
  width: 50px;
  height: 2px;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--text-color);
  right: -64px;
  margin: auto;
}
.home__social-links {
  display: grid;
  row-gap: 12px;
  margin: auto;
}
.home__social-link {
  color: var(--text-color);
  font-size: 20px;
  transition: all 0.4s ease;
}
.home__social-link:hover {
  color: var(--first-color);
}
.home__button {
  justify-self: center;
}

.about__data {
  text-align: center;
}
.about__img {
  width: 280px;
  margin: auto;
  justify-self: center;
}
.about__description {
  margin-bottom: 40px;
  margin-top: 10px;
}

.favorite {
  text-align: center;
  padding: 10px 40px;
}
.favorite-card {
  display: flex;
  justify-content: center;
}
.favorite-card div {
  display: flex;
}
.favorite-card img {
  width: 200px;
}
.favorite-card .favorite-article {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 850px) {
  .favorite .favorite-card div {
    flex-direction: column;
  }
}

.model h2 {
  text-align: center;
}
.model__container {
  padding-top: 30px;
}
.model__content {
  position: relative;
  justify-self: center;
}
.model__img {
  width: 290px;
}
.model__tooltip {
  position: absolute;
}
.model__tooltip-text {
  background: var(--gradient-color);
  color: white;
  white-space: nowrap;
  padding: 6px 12px;
  border-radius: 64px;
  position: absolute;
  transform: translate(-30px, -20px);
}
.model__tooltip-1 {
  top: 88px;
  left: 80px;
}
.model__tooltip-2 {
  top: 16px;
  right: 24px;
}
.model__tooltip-3 {
  bottom: 28px;
  right: 150px;
}
.model__tooltip-4 {
  bottom: 100px;
  left: 120px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --header-height: 3.5rem;
  --first-color: hsl(23, 100%, 50%);
  --gradient-color: linear-gradient(
                  90deg,
                  hsl(23, 4%, 28%) 0%,
                  hsl(23, 4%, 8%) 100%
  );
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(23, 4%, 60%);
  --body-color: hsl(23, 12%, 4%);
  --container-color: hsl(23, 4%, 10%);
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 10rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

h1, h2, h3.h4 {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}

.container {
  max-width: 1120px;
}

.grid {
  display: grid;
  gap: 24px;
}

.section {
  padding-block: 80px 16px;
}
