.about{

  margin-bottom: 50px;

  .section__title{
    margin-bottom: 24px;
  }


  &__data{
    text-align: center;
  }

  &__img{
    width: 280px;
    margin: auto;
    justify-self: center;
  }

  &__description{
    margin-bottom: 40px;;
    margin-top: 10px;
  }




}