
.header{
  width: 100%;
  background-color: transparent;
  position: fixed;
  padding: 5px 20px;
  top: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(15px);


  .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);

    position: relative;
    &__logo{
      color: var(--first-color);
      font-size: 30px;
      font-weight: var(--font-semi-bold);
      position: absolute;
      left: 10px;
      top: 8px;

    }

    &__menu{
      height: 100%;
      display: flex;
      align-items: center;
    }


    &__list{
      display: flex;
      column-gap: 2.5rem;
      height: 50%;
      align-items: center;

      .nav__item{
        height: 80%;
        display: flex;
        align-items: center;

        &::after{
          content: '';
          width: 3px;
          top: 0;
          height: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-color: var(--first-color);
        }

        &::before{
          content: '';
          width: 3px;
          top: 0;
          height: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          background-color: var(--first-color);
        }
      }

    }

    &__link{
      color: var(--white-color);
      white-space: nowrap;
      font-weight: var(--font-medium);
      transition: color .4s;
      padding: 0 10px;
      &:hover{
        color: var(--first-color);
      }
    }
  }
}


@media screen and (max-width: 850px) {
    .header .nav__menu{
      display: none;
    }

  .nav{
    .nav__logo{
      margin: auto;
      font-size: 50px;
      position: relative;
      left: auto;
      top: auto;
    }
  }
}



